.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container{
display: flex;
height: 100vh;
}
.controls{
  width: 20%;
  padding: 1rem;
  background: #14161a;
  color:#fff;
  overflow:auto;
}
.controls input{
  border: none;
  
}
.map{
  width: 80%;
  height: 100vh;
}
.map-container{
  width: 100%;
  height: 100vh;
}
.combobox-input{
  width: 100%;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  /* height:7% ; */
}

.select{
  width: 100%;
  padding: 0.2rem;
  height:5% ;
}
.dur-dis-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.dur-dis-list>li{
  float: left;
  height: auto;
  width: 100%;
}
.list-view{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
 
}
.list-view>li{
  float: left;
  height: auto;
  width: 98%;
	/* padding: 0 25px; */

	color: #999;
  /* margin-top: 8px;
  margin-bottom: 8px; */
  /* background-color: #fff; */
  border: 1px solid rgb(241, 231, 231);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
